doctype html
html
  head
    base(href='/')
    meta(lang='en')
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    <!--[if lt IE 9]>
    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    <![endif]-->

    title Untitled
    link(rel='stylesheet' href='styles.css')

    style.
      body,html{height:100%;margin:0}
      .max{height:100%}
      .gray{background-color:gray}
      .silver{background-color:silver}
      .rel{position:relative}
      .abs{position:absolute}
      .fix{position:fixed}
      .flex{display:flex;flex-wrap:wrap}
      .col{width:50%}
      .box{margin:10px;padding:10px;min-height:180px}
      .stuck #menu {position:fixed;top:50px;left:0;right:0;bottom:0;}
      *{outline:1px dotted red;margin:0}
      @media screen and (min-width:900px){
        .col{width:33.3%}
      }
  body

    .max.rel(style='xheight:2000px')
      .header.fix.gray(style='top:0;width:100%;height:50px;z-index:2') HEADER
      .middle(style='top:0;padding-top:50px;height:500px;overflow:hidden')
        img(src='//placehold.it/2000/abe')
      #menu.content.silver(style='z-index:1;xheight:100%;text-align:center')
        br
        br
        br
        h1 SOME TEASER TITLE AND SUCH
        p WITH A FANCY DESCRIPTION AND IMAGES, LOL
        br
        br
        br
        br
        br
        br
        br
        h3 List stuff here....
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        .flex
          .col
            .box A
          .col
            .box A
          .col
            .box A
          .col
            .box A
          .col
            .box A
          .col
            .box A

    script(src='scripts.js')
