.help {
	background-color: @base-color;
	font-family: opensans, "Helvetica", Arial;
	color: @gray-dark;
	font-size: 14px;

}

.tab {
	background-color: rgba(247,247,247,0.5);
	border: 1px solid #d3d3d3;
	display: inline-block;
	padding: 8px 12px;
	margin-right: 2px;
	border-radius: 2px 2px 0 0;

}

.tab:active {
	border: 1px solid @gray-medium;
	border-bottom: 1px solid transparent;
	background-color: @very-light-gray;
	color: maroon;
	cursor: pointer;

}

.tab-bodies {
	background-color: @very-light-gray;
	border: 1px solid @gray-medium;
	margin-top: -1px;
	padding: 1.5em;
}


.tab-body {
	clear: both;
}

