
body, html {
	height: 100%;
	margin: 0;
	font-family: opensans, "Helvetica", Arial;
	color: @gray;
}

* {
	margin: 0;
}

.wrapper {
	height: 100%;
	position: relative;
}

.header {
	background-color: rgba(51, 51, 51, 0.75);
	margin-right: auto;
	margin-left: auto;
	padding: 0 (@m-one * 2) 0 @m-one;
  position: fixed;
	box-sizing: border-box;
	display: block;
	width: 100%;
	z-index: 2;

  .flex .btn {
    float: right;
  }

  .col-25 {
    min-height: 75px;
  }

  @media screen and (max-width: 959px) {
    .col-25 {
      text-align: center;
      line-height: 55px;
    }
  }
}

.content {
	top: 0;
	height: 500px;
	overflow: hidden;
}

.cover {
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
}

.item {
  padding: @m-one;

  &:hover {
    background-color: rgba(255, 255, 255, .1);
  }

  a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;

    h4 {
      color: @white;
    }
  }
}

#menu {
	z-index: 1;
	text-align: center;
	background-color: @white;
}

.segment {
	&.padded {
		padding: @pad-y @pad-x;
	}

	.container {
		max-width: @mx-width;
		margin: auto;

		&.padded {
			padding: @pad-x;
		}
	}

	.title {
		font-size: @title-size;
		font-weight: 500;
		line-height: 130%;
	}

	.link {
		text-decoration: none;
	}

	.link:hover {
		text-decoration:underline;
	}

	.parr {
		font-size: @text-size;
	}

	&.green {
		background-color: @green;

		.subcolor {
			color: @yellow;

		}

		.link {
			color: @dark-cyan;
		}
	}

	&.grey {
		background-color: @black;

		.subcolor, .link {
			color: @yellow;
		}

		.secundary {
			text-decoration: none;
		}

		.secundary:hover {
			text-decoration: underline;
		}
	}

	&.light-blue {
		background-color: @moderate-cyan;

		.subcolor, .link {
			color: @dark-red;
		}
	}

	&.blue {
		background-color: @dark-cyan;

		.subcolor {
			color: @green;
		}

		.link {
			color: @gray;
		}

		.link:hover {
			color: @green;
		}
	}

}


.blank {
	background-color: @white;
	padding: 20px;
}

.footer {
	background-color: @black;
	padding: 5%;
	text-align: center;

	.link {
		color: @gray;
	}

}
