
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cell {
  flex: 1 1 auto;
}

.box {
  margin: @m-one;
  padding: @m-one;

  .logo {
    max-height: 120px;
  }
}

.sm-show,
.md-show,
.lg-show {
  display: none;
}

.col-2,
.col-3,
.col-6 {
  width: 100%;
}

.col-60 {
  width: 60%;
}

@media screen and (min-width: 480px) {
  .sm-show {
    display: block;
  }

  .sm-hide {
    display: none;
  }

  .col-2 {
    width: 100% / 2;
  }
}

@media screen and (min-width: 890px) {
  .col-6 {
    width: 100% / 2;
  }

  .md-hide {
    display: none;
  }

  .md-show {
    display: block;
  }

  .col-2 {
    width: 100% / 3;
  }
}

@media screen and (min-width: 960px) {
  .col-6 {
    width: 100% / 3;
  }

  .lg-show {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
	.col {
		width: 33.3%
	}

  .col-6 {
    width: 100% / 6;
  }

	.col-3 {
    width: 100% / 3;
  }
}

@media screen and (max-width: 719px) {
  .col-6:nth-child(5),
  .col-6:nth-child(6) {
    width: 50%;
  }
}
