//-
  ---
  site: !include _data.yml
  ---

extends _layout

block main
  .content
    .cover(style='background-image:url(http://lorempixel.com/1920/1920/animals/)')
    //-img.cover(src='http://lorempixel.com/1920/1920/')

  .segment.padded.help
    .container
      table
        thead
          tr: th Bitch
          tr: th LOL
        tbody
          tr: td.one OK
          tr: td.two NaN  