//-
  ---
  site: !include _data.yml
  ---

extends _layout

block main
  .content
    .cover(style='background-image:url(http://lorempixel.com/1920/1920/animals/)')
    //-img.cover(src='http://lorempixel.com/1920/1920/')

  .segment.padded.help
    .container
      .helptab
        ul.reset.js-tabs
          li.tab Cheesecake
          li.tab Manchego
          li.tab Parmesan
          li.tab Camembert
        ul.tab-bodies
          li.tab-body
            p Boursin taleggio cheesecake. Melted cheese gouda fromage frais chalk and cheese mascarpone when the cheese comes out everybody's happy who moved my cheese feta.
          li.tab-body
            h3 Cheese slices
            p.two  Queso parmesan queso mascarpone edam lancashire croque monsieur cheese strings. Parmesan cheese and wine fondue manchego macaroni cheese say cheese hardcheese red leicester.
          li.tab-body Cheese and biscuits
            p.one Boursin taleggio cheesecake. Melted cheese gouda fromage frais chalk and cheese mascarpone when the cheese comes out everybody's happy who moved my cheese feta.
          li.tab-body
            h3 Cheeseburger
            p.two  Queso parmesan queso mascarpone edam lancashire croque monsieur cheese strings. Parmesan cheese and wine fondue manchego macaroni cheese say cheese hardcheese red leicester.
