//-
  ---
  site: !include _data.yml
  ---

extends _layout

block main
  .content
    .cover(style='background-image:url(http://lorempixel.com/1920/1920/animals/)')
    //-img.cover(src='http://lorempixel.com/1920/1920/')

  .segment.padded.help
    .container
      table.tab
        thead
          tr: th Cheesecake
          tr: th Manchego
          tr: th Parmesan
          tr: th Camembert
        tbody.contbody
          tr: td.one Boursin taleggio cheesecake. Melted cheese gouda fromage frais chalk and cheese mascarpone when the cheese comes out everybody's happy who moved my cheese feta.
          tr: td.two  Queso parmesan queso mascarpone edam lancashire croque monsieur cheese strings. Parmesan cheese and wine fondue manchego macaroni cheese say cheese hard cheese red leicester.
          tr: td.one Boursin taleggio cheesecake. Melted cheese gouda fromage frais chalk and cheese mascarpone when the cheese comes out everybody's happy who moved my cheese feta.
          tr: td.two  Queso parmesan queso mascarpone edam lancashire croque monsieur cheese strings. Parmesan cheese and wine fondue manchego macaroni cheese say cheese hard cheese red leicester.