//-
  ---
  site: !include _data.yml
  ---

extends _layout

block main
  .content
    .cover(style='background-image:url(http://lorempixel.com/1920/1920/animals/)')
    //-img.cover(src='http://lorempixel.com/1920/1920/')

  #menu

    .segment.padded
      .flex.container
        .col-2
          .box
            a.
            img.banner(src="http://lorempixel.com/400/200/cats/")
            h4.marg.caption
              a.js-frame(href='http://snmbserve.conabio.gob.mx/app/' target='_blank' style='text-decoration:none')
                |http://snmbserve.conabio.gob.mx/app/
            p.marg.body Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        each x in new Array(3)
          .col-2
            .box
              img.banner(src="http://lorempixel.com/400/200/cats/")
              h4.marg.caption Lorem Ipsum
              p.marg.body Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
