//-
  ---
  site: !include _data.yml
  ---

extends _layout

block main
  .content
    .cover(style=`background-image:url(/images/${site.cover})`)

  #menu

    .mouse-icon
      .wheel.drop

    .segment.padded.green
      .flex.container
        each x in site.sections
          .col-2
            .box.product
              img.banner(src='/images/' + x.img)
              h4.marg.caption.center= x.title
              p.marg.body
                a(href='#')
                  = x.description
                  span Ver más
